@charset "UTF-8";
/* ブレイクポイントの設定 */
/* minixの設定 */
:root {
  --font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", sans-serif;
  --bg-color: #14111f;
  --abg-color: ;
  --a-color: #f6f6f6;
  --font-color: #f6f6f6;
  --font-border: #222;
  --font-linerBorder: 0.8px 0.8px 1px var(--font-border),
    -0.7px 0.7px 0.7px var(--font-border), 0.7px -0.7px 0.5px var(--font-border),
    -0.7px -0.7px 0.5px var(--font-border), 0.7px 0px 0.7px var(--font-border),
    0px 0.7px 0.5px var(--font-border), -0.7px 0px 0.5px var(--font-border),
    0px -0.7px 0.5px var(--font-border);
  --font-space: 0.1em;
  --font-height: 2em !important;
  --font-size: 16px;
  --contrast-filter: ;
  --saturate-filter: ;
  --scale-y: 0; /* 初期スケール値 */
  --text-align: ;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  filter: var(--contrast-filter) var(--saturate-filter);
  color: var(--font-color);
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  word-break: break-word;
}

body {
  position: relative;
  height: 100vh;
  font-size: 16px;
  margin: 0;
}

.allwrap {
  line-height: var(--font-height);
  letter-spacing: var(--font-space);
  text-align: var(--text-align);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: var(--abg-color);
  color: var(--font-color);
  vertical-align: middle;
}

button {
  color: var(--a-color);
  background-color: #444;
}

.copy {
  color: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.375rem;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.75rem;
  }
}

h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

#textAnimation span {
  display: inline-block; /* ブロック要素として扱う */
  opacity: 0; /* 初期状態では非表示 */
  filter: blur(5px); /* 初期状態でのブラー効果 */
  transition: opacity 0.5s ease-out, filter 0.5s ease-out; /* アニメーションの設定 */
}

.firstAnimation {
  background-color: #14111f;
  position: absolute;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* ビューポートの高さに合わせる */
}

#textAnimation span {
  font-size: 28px;
  letter-spacing: 0.1em;
  display: inline-block;
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.1s ease-out, filter 0.2s ease-out;
}

/* キーフレームアニメーション */
@-webkit-keyframes fadeInBlurOut {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fadeInBlurOut {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
/* アニメーション適用 */
.visible {
  -webkit-animation: fadeInBlurOut 0.5s forwards;
          animation: fadeInBlurOut 0.5s forwards;
}

@-webkit-keyframes moveUp {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes moveUp {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* アニメーションが適用された後のスタイル */
.move-up {
  -webkit-animation: moveUp 1s forwards;
          animation: moveUp 1s forwards; /* アニメーションを実行し終了後に状態を維持 */
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header {
  position: relative;
  padding: 4.5em 0;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 3.75em 0;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 2.8125em 0;
  }
}
.header__wrap {
  margin: 0 auto 0;
}
.header__wrap a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.menu {
  position: absolute;
  top: 51%;
  right: 5%;
  transform: translate(0%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 9999;
}
@media screen and (max-width: 450px) {
  .menu {
    top: 53%;
    width: 40px;
    height: 40px;
  }
}
.menu__top {
  position: absolute;
  width: 80%;
  height: 6px;
  border-top: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  top: 20%;
  left: 10%;
  transition: 0.3s;
}
.menu__center {
  position: absolute;
  width: 80%;
  height: 1px;
  border-top: 1px solid #f6f6f6;
  top: 50%;
  left: 10%;
  transition: 0.3s;
}
.menu__bottom {
  position: absolute;
  width: 80%;
  height: 6px;
  border-bottom: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  bottom: 20%;
  left: 10%;
  transition: 0.3s;
}
.menu:hover .menu__top {
  transform: translateY(-5px);
}
.menu:hover .menu__center {
  -webkit-animation: menu-anime 2s ease infinite;
          animation: menu-anime 2s ease infinite;
}
.menu:hover .menu__bottom {
  transform: translateY(5px);
}
.menu.menu__active .menu__top {
  transform: rotate(45deg);
  top: 50%;
  height: 1px;
  left: 11%;
}
.menu.menu__active .menu__center {
  opacity: 0;
  transition: 0.3s;
}
.menu.menu__active .menu__bottom {
  transform: rotate(-45deg);
  bottom: 49%;
  height: 1px;
}

@-webkit-keyframes menu-anime {
  0% {
    width: 80%;
    right: 10%;
  }
  50% {
    width: 70%;
    left: 15%;
  }
}

@keyframes menu-anime {
  0% {
    width: 80%;
    right: 10%;
  }
  50% {
    width: 70%;
    left: 15%;
  }
}
.f-Menu {
  color: #eee;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding-top: 15vh;
  background-color: transparent;
}
.f-Menu__list {
  height: 75vh;
  width: 100%;
  margin: 0 auto 0;
}
.f-Menu__list div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.f-Menu__list div::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0, 1);
  transition: transform 0.5s ease;
  transform-origin: right top;
}
.f-Menu__list div a {
  display: grid;
  align-content: center;
  position: relative;
  height: 25%;
  padding: 2% 0 2% 5%;
}
.f-Menu__list div a:hover {
  transition: 0.3s;
  background-color: #da4404;
}
.f-Menu__list div a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: transform 0.5s ease;
  transform: scale(0, 1);
  transform-origin: right top;
}
.f-Menu__list div a p {
  width: 100%;
  height: 100%;
  font-size: clamp(35px, 4vw, 4.5vw);
}
.f-Menu__imgCase {
  position: absolute;
  right: 5%;
  bottom: 0;
}
.f-Menu__imgCase .x-mark {
  width: 30px;
}

.f-Menu.menu__active {
  pointer-events: initial;
  opacity: 100%;
  -webkit-animation: bgAnime 0.5s forwards;
          animation: bgAnime 0.5s forwards;
}
.f-Menu.menu__active .f-Menu__list div::after {
  transform: scale(1, 1);
}
.f-Menu.menu__active .f-Menu__list div a::before {
  transform: scale(1, 1);
}

@-webkit-keyframes bgAnime {
  0% {
    background-color: hsla(0deg, 0%, 64.7%, 0);
  }
  100% {
    background-color: #a5a5a5;
  }
}

@keyframes bgAnime {
  0% {
    background-color: hsla(0deg, 0%, 64.7%, 0);
  }
  100% {
    background-color: #a5a5a5;
  }
}
.main {
  display: block;
}

[class*=swiper]:focus {
  outline: none;
}

.mv .slide img {
  transition: 0.3s ease-in;
}

.slide:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in;
}
.slide:hover .slide-content {
  opacity: 1;
}
.slide:hover img {
  transform: scale(1.03);
  opacity: 0.8;
  filter: blur(5px);
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mv__area {
  position: relative;
}
@media screen and (max-width: 600px) {
  .mv__area {
    height: 75vh;
  }
}
.mv .swiper-main {
  margin-right: 30%;
  margin-left: 5%;
  border-radius: 5em;
  height: 660px;
}
@media screen and (max-width: 1300px) {
  .mv .swiper-main {
    margin-right: min(25vw, 42.5925925926%);
    margin-left: 0rem;
    border-radius: 0 5em 5em 0;
  }
}
@media screen and (max-width: 600px) {
  .mv .swiper-main {
    margin: 0 auto;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
    aspect-ratio: 4/3;
  }
}
@media screen and (max-width: 450px) {
  .mv .swiper-main {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
.mv .slide {
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--font-color);
}
.mv .slide-media {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: contrast(120%);
}
.mv .slide-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 62.1951219512%;
  height: 18.75em;
  margin: auto;
  padding: 40px;
  transition: 0.3s ease-in;
}
@media screen and (max-width: 1300px) {
  .mv .slide-content {
    width: 54.8780487805%;
  }
}
@media screen and (max-width: 800px) {
  .mv .slide-content {
    margin: auto 100px auto auto;
  }
}
@media screen and (max-width: 600px) {
  .mv .slide-content {
    margin: auto;
    height: 16.875em;
  }
}
@media screen and (max-width: 450px) {
  .mv .slide-content {
    height: 15.625em;
  }
}
.mv .slide-date {
  font-size: 1rem;
  display: block;
  text-shadow: var(--font-linerBorder);
}
@media screen and (max-width: 800px) {
  .mv .slide-date {
    font-size: 0.875rem;
  }
}
.mv .slide-text {
  font-size: 1.75rem;
  margin: 0.4em 0 0 0;
  text-shadow: var(--font-linerBorder);
}
@media screen and (max-width: 800px) {
  .mv .slide-text {
    font-size: 1.5rem;
  }
}
.mv .slide-title {
  position: absolute;
  z-index: 9999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: keep-all;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  font-size: 2.375rem;
  text-shadow: var(--font-linerBorder);
  transform: translate(-50%, -50%);
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  .mv .slide-title {
    font-size: 2.125rem;
    word-break: keep-all;
  }
}
@media screen and (max-width: 450px) {
  .mv .slide-title {
    font-size: 1.75rem;
  }
}
.mv .slide-view {
  position: relative;
  margin: auto auto 0;
  text-shadow: var(--font-linerBorder);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .mv .slide-view {
    font-size: 0.875rem;
  }
}
.mv .slide-view::before {
  position: absolute;
  content: "→";
  font-size: 0.75em;
  width: 18px;
  height: auto;
  top: 5%;
  right: -25%;
  -webkit-animation: arrow 2s infinite;
          animation: arrow 2s infinite;
}
@-webkit-keyframes arrow {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}

.swiper-slide {
  margin: 0;
  width: 100%;
}

.mv .swiper-thumb {
  position: absolute;
  top: 1.5em;
  right: 5%;
  bottom: 10em;
  width: 35vw;
  height: 94%;
  padding: 0 1.5em;
}
@media screen and (max-width: 1100px) {
  .mv .swiper-thumb {
    width: 40vw;
  }
}
@media screen and (max-width: 600px) {
  .mv .swiper-thumb {
    position: initial;
    height: 30%;
    width: 90%;
    margin: 1em 5% 0 5%;
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .mv .swiper-thumb {
    height: 45%;
  }
}
.mv .swiper-thumb .swiper-slide {
  height: 130px !important;
}
@media screen and (max-width: 600px) {
  .mv .swiper-thumb .swiper-slide {
    height: 100px !important;
  }
}
@media screen and (max-width: 450px) {
  .mv .swiper-thumb .swiper-slide {
    height: 100px !important;
  }
}
.mv .swiper-wrapper.thumb-scroll {
  overflow-y: scroll;
  row-gap: 0rem;
  height: 650px;
  padding-right: 1em;
  padding-left: 2em;
  transform: translateY(0px) !important;
}
@media screen and (max-width: 600px) {
  .mv .swiper-wrapper.thumb-scroll {
    height: 100%;
    padding: 0;
  }
}
.mv .swiper-wrapper.thumb-scroll::-webkit-scrollbar {
  background: transparent;
  width: 2px;
}
.mv .swiper-wrapper.thumb-scroll::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 20px;
}
.mv .thumb {
  cursor: pointer;
  position: relative;
  display: grid;
  overflow: hidden;
  align-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 0 1em 0 3em;
  transition: 0.5s;
  color: var(--font-color);
}
.mv .thumb::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 11px;
  content: "";
  transition: 0.7s;
  transform: scaleY(0);
  background-image: linear-gradient(0deg, rgb(197, 154, 1), rgb(197, 48, 1));
}
.mv .swiper-slide-thumb-active .thumb {
  text-shadow: var(--font-linerBorder);
  transform: translateX(-2em);
}
@media screen and (max-width: 600px) {
  .mv .swiper-slide-thumb-active .thumb {
    transform: translateX(0px);
  }
}
.mv .swiper-slide-thumb-active .thumb::before {
  transform: scaleY(1);
}
.mv .thumb-media {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mv .thumb-media img {
  transition: 0.5s;
  filter: grayscale(60%) brightness(0.7);
}
.mv .swiper-slide-thumb-active .thumb-media img {
  transform: scale(1.1);
  opacity: 0;
}
.mv .thumb-category {
  font-size: 1rem;
}
@media screen and (max-width: 1100px) {
  .mv .thumb-category {
    font-size: 1rem;
  }
}
.mv .thumb-title {
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  margin-bottom: 0.4em;
}
@media screen and (max-width: 800px) {
  .mv .thumb-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .mv .thumb-title {
    font-size: 1rem;
  }
}
.mv .thumb-date {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .mv .thumb-date {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  .mv .thumb-date {
    font-size: 0.8rem;
  }
}

.footer {
  font-size: 0.75rem;
  position: relative;
  width: 84.375%;
  max-width: 1080px;
  padding: 1.875em 0 0.625em 0;
  margin: 0 auto 0;
  text-align: right;
}

.accessible {
  border: 0;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 1em;
  left: 0%;
  background-color: #fff;
  padding-left: 4%;
  border-radius: 0 25px 25px 0;
  transform: translateX(-20%);
  transition: 0.3s;
}
.accessible:hover {
  transform: translateX(-2%);
}
.accessible:hover .human {
  opacity: 0.8;
}
.accessible__menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0;
  height: 100vh;
  width: 350px;
  background-color: #fff;
  z-index: 999999;
  color: #333;
  transform: translateX(-100%);
  transition: 0.4s;
}
.accessible__menu.active {
  transform: translateX(0%);
}
.accessible__wrap {
  padding: 0 3vh;
  overflow-y: scroll;
  height: 90vh;
}
.accessible__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 3vh 0 3vh;
  background-color: rgb(190, 188, 188);
  border-bottom: #333 1px solid;
}
.accessible__title {
  font-weight: bold;
  font-size: 20px;
}
.accessible__back {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}
.accessible__back .backLine:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: #333;
}
.accessible__back .backLine:nth-child(2) {
  position: absolute;
  transform: rotate(135deg);
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: #333;
}
.accessible__btn {
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
.accessible__up {
  font-size: 16px;
}
.accessible__list {
  margin-top: 2em;
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.grid__card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.grid__card:nth-child(3),
.grid__card :nth-child(4),
.grid__card :nth-child(6) {
  cursor: auto;
}
.grid__imgbox {
  overflow: hidden;
  height: 65px;
  margin-bottom: 10px;
}
.grid__imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline: auto;
}
.grid__title {
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 10px;
}
.grid__spans {
  opacity: 0;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.grid__spans span {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: lightgray;
}
.grid__src {
  font-size: 10px;
  display: flex;
  justify-content: right;
  margin-bottom: 1em;
}
.grid__iconSrc {
  display: inline;
  color: #333;
}

#topMask {
  display: none;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid green;
}

#bottomMask {
  display: none;
  position: fixed;
  z-index: 999999999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 3px solid green;
}

.black {
  background-color: black !important;
}

/* === ボタンを表示するエリア ============================== */
.switchArea {
  line-height: 25px; /* 1行の高さ          */
  letter-spacing: 0; /* 文字間             */
  text-align: center; /* 文字位置は中央     */
  font-size: 18px; /* 文字サイズ         */
  position: relative; /* 親要素が基点       */
  margin: 0 0 0 auto; /* 中央寄せ           */
  width: 80px; /* ボタンの横幅       */
  background: #fff; /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */
.switchArea input[type=checkbox] {
  display: none; /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display: block; /* ボックス要素に変更 */
  box-sizing: border-box; /* 枠線を含んだサイズ */
  height: 30px; /* ボタンの高さ       */
  border: 2px solid #006666; /* 未選択タブのの枠線 */
  background: linear-gradient(90deg, #fff, #fff, #006666); /* 背景色グラデーション */
  border-radius: 30px; /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type=checkbox]:checked + label {
  border-color: #993333; /* 選択タブの枠線     */
  background: linear-gradient(90deg, #993333, #fff, #fff); /* 背景色グラデーション */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after {
  content: "OFF"; /* 表示する文字       */
  padding: 0 0 0 30px; /* 表示する位置       */
  color: #333; /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea input[type=checkbox]:checked + label span:after {
  content: "ON"; /* 表示する文字       */
  padding: 0 30px 0 0; /* 表示する位置       */
  color: #333; /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position: absolute; /* 親要素からの相対位置*/
  width: 25px; /* 丸の横幅           */
  height: 25px; /* 丸の高さ           */
  background: #000000; /* カーソルタブの背景 */
  top: 2.5px; /* 親要素からの位置   */
  left: 3px; /* 親要素からの位置   */
  border-radius: 26px; /* 角丸               */
  transition: 0.2s; /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type=checkbox]:checked ~ #swImg {
  transform: translateX(48px); /* 丸も右へ移動       */
  background: #993333; /* カーソルタブの背景 */
}

.human {
  font-size: 2rem;
  padding: 0.2em 0.3em;
  color: #14111f;
}

.pickr {
  height: 15px;
  display: flex;
}

.pickr .pcr-button {
  border: 1px solid #333;
  width: 100%;
  height: 15px;
  padding: 0;
  border-radius: 50px;
}
.pickr .pcr-button::after {
  border-radius: 50px;
}
.pickr .pcr-button::before {
  border-radius: 50px;
}

.pcr-app[data-theme=nano] .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app .pcr-swatches > button {
  border: 1px solid #333;
}

.pcr-app {
  z-index: 9999999;
}

.pcr-app .pcr-interaction {
  justify-content: end;
}

.body__about {
  height: auto;
}

.aboutMain__wrap {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 0;
}

.profile {
  margin-top: 6.25em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .profile {
    margin-top: 70px;
  }
}
.profile__title {
  position: relative;
  width: 100%;
  font-size: 2.25rem;
  margin-bottom: 3.125em;
  padding-left: 25px;
}
@media screen and (max-width: 800px) {
  .profile__title {
    font-size: 1.875rem;
  }
}
.profile__title::before {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.profile__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .profile__box {
    flex-direction: column;
    row-gap: 40px;
  }
}
.profile__imgbox {
  padding-left: 5%;
  width: 45%;
  aspect-ratio: 16/14;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .profile__imgbox {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .profile__imgbox {
    width: 100%;
    padding-left: 0;
  }
}
.profile__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile__contents {
  width: 50%;
  font-size: 1.375rem;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 25px;
}
@media screen and (max-width: 800px) {
  .profile__contents {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 600px) {
  .profile__contents {
    font-size: 1em;
    width: 100%;
    margin-left: 5%;
  }
}
.profile dl {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}
.profile dl dt {
  width: auto;
  word-break: keep-all;
  white-space: nowrap;
}
.profile dl dd {
  text-wrap: balance;
  word-break: auto-pharase;
}

.career__title {
  position: relative;
  margin-top: 100px;
  font-size: 1.875em;
  padding-left: 25px;
  margin-bottom: 3.125em;
}
@media screen and (max-width: 600px) {
  .career__title {
    font-size: 1.5rem;
  }
}
.career__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.career__box {
  display: flex;
  flex-direction: column;
}
.career dl {
  font-size: 1.375rem;
  position: relative;
  padding-left: 5%;
  padding-bottom: 60px;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 1100px) {
  .career dl {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 800px) {
  .career dl {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 600px) {
  .career dl {
    font-size: 1rem;
  }
}
.career dl::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: #d9d9d9;
  left: -10px;
  top: 2.5px;
}
.career dl::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 10px;
  left: -1px;
  background-color: #d9d9d9;
  transform: scale(1, var(--scale-y));
  transform-origin: top left;
  transition: 0.3s;
}
.career dt {
  font-weight: bold;
  word-break: keep-all;
}
.career dd::after {
  position: absolute;
  bottom: 30px;
  right: 0%;
  content: "";
  width: 95%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 600px) {
  .career dd::after {
    font-size: 1rem;
  }
}

.technology {
  margin-top: 100px;
}
.technology .tool__title {
  position: relative;
  font-size: 1.875rem;
  margin-bottom: 40px;
  padding-left: 25px;
}
@media screen and (max-width: 600px) {
  .technology .tool__title {
    font-size: 1.5rem;
  }
}
.technology .tool__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.technology ul {
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .technology ul {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 600px) {
  .technology ul {
    font-size: 1rem;
  }
}
.technology .lang {
  margin-top: 70px;
}
.technology .lang__title {
  position: relative;
  padding-left: 25px;
  font-size: 1.875rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .technology .lang__title {
    font-size: 1.5rem;
  }
}
.technology .lang__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
@media screen and (max-width: 600px) {
  .technology .lang__title {
    font-size: 1.5rem;
  }
}

.target__title {
  font-size: 1.875rem;
  position: relative;
  margin-top: 100px;
  padding-left: 25px;
  margin-bottom: 1.875em;
}
@media screen and (max-width: 600px) {
  .target__title {
    font-size: 1.5rem;
  }
}
.target__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.target__content {
  text-align: left;
  text-wrap: balance;
  word-break: auto-pharase;
  font-size: 1.25rem;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .target__content {
    font-size: 1rem;
  }
}

.hobby {
  margin-top: 100px;
  margin-bottom: 80px;
}
.hobby__title {
  font-size: 1.875rem;
  position: relative;
  margin-top: 100px;
  padding-left: 25px;
  margin-bottom: 1.875em;
}
@media screen and (max-width: 600px) {
  .hobby__title {
    font-size: 1.5rem;
  }
}
.hobby__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.hobby__content {
  font-size: 1.25rem;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .hobby__content {
    font-size: 1rem;
  }
}

.story {
  margin-top: 100px;
}
.story__front {
  margin: 10px 0;
}
.story__title {
  font-size: 1.875rem;
  position: relative;
  padding-left: 25px;
  margin-bottom: 1.875em;
}
@media screen and (max-width: 600px) {
  .story__title {
    font-size: 1.5rem;
  }
}
.story__title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #da4404;
}
.story__content {
  text-align: left;
  text-wrap: balance;
  word-break: auto-pharase;
  font-size: 1.25rem;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .story__content {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */