@charset "utf-08";

/* ブレイクポイントの設定 */
// ---------------------
$breakpoints: (
  "sm": "screen and (max-width: 360px)",
  "smm": "screen and (max-width: 450px)",
  "md": "screen and (max-width: 600px)",
  "lg": "screen and (max-width: 800px)",
  "xl": "screen and (max-width: 1100px)",
  "xxl": "screen and (max-width: 1300px)",
) !default;

/* minixの設定 */
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin topMenuBar() {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: transform 0.5s ease;
  transform: scale(0, 1);
  transform-origin: right top;
}
@mixin bottomMenuBar() {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0, 1);
  transition: transform 0.5s ease;
  transform-origin: right top;
}

:root {
  --font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", sans-serif;
  --bg-color: #14111f;
  --abg-color: ;
  --a-color: #f6f6f6;
  --font-color: #f6f6f6;
  --font-border: #222;
  --font-linerBorder: 0.8px 0.8px 1px var(--font-border),
    -0.7px 0.7px 0.7px var(--font-border), 0.7px -0.7px 0.5px var(--font-border),
    -0.7px -0.7px 0.5px var(--font-border), 0.7px 0px 0.7px var(--font-border),
    0px 0.7px 0.5px var(--font-border), -0.7px 0px 0.5px var(--font-border),
    0px -0.7px 0.5px var(--font-border);
  --font-space: 0.1em;
  --font-height: 2em !important;
  --font-size: 16px;
  --contrast-filter: ;
  --saturate-filter: ;
  // gsap
  --scale-y: 0; /* 初期スケール値 */
  --text-align: ;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  filter: var(--contrast-filter) var(--saturate-filter);
  color: var(--font-color);
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  word-break: break-word;
}

body {
  position: relative;
  height: 100vh;
  font-size: 16px;
  margin: 0;
}

.allwrap {
  line-height: var(--font-height);
  letter-spacing: var(--font-space);
  text-align: var(--text-align);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: var(--abg-color);
  color: var(--font-color);
  vertical-align: middle;
}
button {
  color: var(--a-color);
  background-color: #444;
}
.copy {
  color: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  width: fit-content;
  font-size: (38rem/16);
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  @include mq(md) {
    font-size: (30rem/16);
  }
  @include mq(smm) {
    font-size: (28rem/16);
  }
}

h2 {
}
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

// ファーストテキストアニメーション
#textAnimation span {
  display: inline-block; /* ブロック要素として扱う */
  opacity: 0; /* 初期状態では非表示 */
  filter: blur(5px); /* 初期状態でのブラー効果 */
  transition: opacity 0.5s ease-out, filter 0.5s ease-out; /* アニメーションの設定 */
}
.firstAnimation {
  background-color: #14111f;
  position: absolute;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* ビューポートの高さに合わせる */
}

#textAnimation span {
  font-size: 28px;
  letter-spacing: 0.1em;
  display: inline-block;
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.1s ease-out, filter 0.2s ease-out;
}

/* キーフレームアニメーション */
@keyframes fadeInBlurOut {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* アニメーション適用 */
.visible {
  animation: fadeInBlurOut 0.5s forwards;
}

@keyframes moveUp {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* アニメーションが適用された後のスタイル */
.move-up {
  animation: moveUp 1s forwards; /* アニメーションを実行し終了後に状態を維持 */
  animation-delay: 0.5s;
}

// アニメーション終了

// =============================================
// =============================================
// ================== header ===================
// =============================================
// =============================================

.header {
  position: relative;
  padding: (72em/16) 0;
  @include mq(md) {
    padding: (60em/16) 0;
  }
  @include mq(smm) {
    padding: (45em/16) 0;
  }
  &__wrap {
    margin: 0 auto 0;
    & a {
      width: fit-content;
    }
  }
}
.menu {
  position: absolute;
  top: 51%;
  right: 5%;
  transform: translate(0%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 9999;
  @include mq(smm) {
    top: 53%;
    width: 40px;
    height: 40px;
  }
  &__top {
    position: absolute;
    width: 80%;
    height: 6px;
    border-top: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    top: 20%;
    left: 10%;
    transition: 0.3s;
  }
  &__center {
    position: absolute;
    width: 80%;
    height: 1px;
    border-top: 1px solid #f6f6f6;
    top: 50%;
    left: 10%;
    transition: 0.3s;
  }
  &__bottom {
    position: absolute;
    width: 80%;
    height: 6px;
    border-bottom: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    bottom: 20%;
    left: 10%;
    transition: 0.3s;
  }
  &:hover .menu__top {
    transform: translateY(-5px);
  }
  &:hover .menu__center {
    animation: menu-anime 2s ease infinite;
  }
  &:hover .menu__bottom {
    transform: translateY(5px);
  }
  &.menu__active {
    & .menu__top {
      transform: rotate(45deg);
      top: 50%;
      height: 1px;
      left: 11%;
    }
    & .menu__center {
      opacity: 0;
      transition: 0.3s;
    }
    & .menu__bottom {
      transform: rotate(-45deg);
      bottom: 49%;
      height: 1px;
    }
  }
}
@keyframes menu-anime {
  0% {
    width: 80%;
    right: 10%;
  }
  50% {
    width: 70%;
    left: 15%;
  }
}

.f-Menu {
  color: #eee;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding-top: 15vh;
  background-color: transparent;

  &__list {
    height: 75vh;
    width: 100%;
    margin: 0 auto 0;
    & div {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      &::after {
        @include bottomMenuBar();
      }
    }
    & div a {
      display: grid;
      align-content: center;
      position: relative;
      height: 25%;
      padding: 2% 0 2% 5%;
      &:hover {
        transition: 0.3s;
        background-color: #da4404;
      }
      &::before {
        @include topMenuBar();
      }
      & p {
        width: 100%;
        height: 100%;
        font-size: clamp(35px, 4vw, 4.5vw);
      }
    }
  }
  &__imgCase {
    position: absolute;
    right: 5%;
    bottom: 0;
    & .x-mark {
      width: 30px;
    }
  }
}

.f-Menu {
  &.menu__active {
    pointer-events: initial;
    opacity: 100%;
    animation: bgAnime 0.5s forwards;
    & .f-Menu__list div::after {
      transform: scale(1, 1);
    }
    & .f-Menu__list div a::before {
      transform: scale(1, 1);
    }
  }
}

@keyframes bgAnime {
  0% {
    background-color: hsla(0, 0%, 64.7%, 0);
  }
  100% {
    background-color: #a5a5a5;
  }
}

// =======================================
// =======================================
// =============== main ==================
// =======================================
// =======================================

.main {
  display: block;
}

// タブキーでの選択
[class*="swiper"]:focus {
  outline: none;
}
.mv .slide img {
  -webkit-transition: 1s;
  transition: 0.3s ease-in;
}
.slide:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in;
  & .slide-content {
    opacity: 1;
  }
  & img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 0.8;
    filter: blur(5px);
  }
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.mv {
  &__area {
    position: relative;
    @include mq(md) {
      height: 75vh;
    }
  }

  // メインスライド
  & .swiper-main {
    margin-right: 30%;
    margin-left: 5%;
    border-radius: 5em;
    height: 660px;
    @include mq(xxl) {
      margin-right: min(25vw, (460/1080) * 100%);
      margin-left: 0rem;
      border-radius: 0 5em 5em 0;
    }
    @include mq(md) {
      margin: 0 auto;
      width: 90%;
      height: fit-content;
      border-radius: 10px;
      aspect-ratio: 4/3;
    }
    @include mq(smm) {
      margin: 0;
      border-radius: 0;
      width: 100%;
    }
  }
  & .slide {
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--font-color);
  }
  & .slide-media {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter: contrast(120%);
  }
  //   テキスト
  & .slide-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: (510/820) * 100%;
    height: (300em/16);
    margin: auto;
    padding: 40px;
    transition: 0.3s ease-in;
    @include mq(xxl) {
      width: (450/820) * 100%;
    }
    @include mq(lg) {
      margin: auto 100px auto auto;
    }
    @include mq(md) {
      margin: auto;
      height: (270em/16);
    }
    @include mq(smm) {
      height: (250em/16);
    }
  }
  & .slide-date {
    font-size: (16rem/16);
    display: block;
    text-shadow: var(--font-linerBorder);
    @include mq(lg) {
      font-size: (14rem/16);
    }
  }
  & .slide-text {
    font-size: (28rem/16);
    margin: 0.4em 0 0 0;
    text-shadow: var(--font-linerBorder);
    @include mq(lg) {
      font-size: (24rem/16);
    }
  }
  & .slide-title {
    position: absolute;
    z-index: 9999;
    width: fit-content;
    word-break: keep-all;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    font-size: (38rem/16);
    text-shadow: var(--font-linerBorder);
    transform: translate(-50%, -50%);
    margin-bottom: 1em;
    @include mq(lg) {
      font-size: (34rem/16);
      word-break: keep-all;
    }
    @include mq(smm) {
      font-size: (28rem/16);
    }
  }

  & .slide-view {
    position: relative;
    margin: auto auto 0;
    text-shadow: var(--font-linerBorder);
    width: fit-content;
    font-size: (16rem/16);
    @include mq(lg) {
      font-size: (14rem/16);
    }
    &::before {
      position: absolute;
      content: "→";
      font-size: (12em/16);
      width: 18px;
      height: auto;
      top: 5%;
      right: -25%;
      animation: arrow 2s infinite;
    }
    @keyframes arrow {
      0%,
      100% {
        transform: translateX(0px);
      }
      50% {
        transform: translateX(5px);
      }
    }
  }
  //   テキスト 完
}

// ======================================
// ============ sub area thumb ==========
// ======================================
.swiper-slide {
  margin: 0;
  width: 100%;
}
.mv {
  & .swiper-thumb {
    position: absolute;
    top: 1.5em;
    right: 5%;
    bottom: 10em;
    width: min(35vw, 43vw);
    height: 94%;
    padding: 0 1.5em;
    @include mq(xl) {
      width: min(40vw);
    }
    @include mq(md) {
      position: initial;
      height: 30%;
      width: 90%;
      margin: 1em 5% 0 5%;
      padding: 0;
    }
    @include mq(smm) {
      // margin: 2.5em 5% 0 5%;
      height: 45%;
    }
    & .swiper-slide {
      height: 130px !important;
      // margin-bottom: 1.5em;
      @include mq(md) {
        height: 100px !important;
        // margin-bottom: 1em;
      }
      @include mq(smm) {
        height: 100px !important;
        // margin-bottom: 0.9em;
      }
    }
  }

  & .swiper-wrapper.thumb-scroll {
    overflow-y: scroll;
    row-gap: 0rem;
    height: 650px;
    padding-right: 1em;
    padding-left: 2em;
    transform: translateY(0px) !important;
    @include mq(md) {
      height: 100%;
      padding: 0;
    }
    &::-webkit-scrollbar {
      background: transparent;
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--font-color);
      border-radius: 20px;
    }
  }
  & .thumb {
    cursor: pointer;
    position: relative;
    display: grid;
    overflow: hidden;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0 1em 0 3em;
    -webkit-transition: 2s;
    transition: 0.5s;
    color: var(--font-color);
  }
  & .thumb::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 11px;
    content: "";
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    background-image: linear-gradient(
      0deg,
      rgba(197, 154, 1, 1),
      rgba(197, 48, 1, 1)
    );
  }
  //   beforeアニメ
  & .swiper-slide-thumb-active .thumb {
    text-shadow: var(--font-linerBorder);
    transform: translateX(-2em);
    @include mq(md) {
      transform: translateX(0px);
    }
    &::before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  & .thumb-media {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  & .thumb-media img {
    -webkit-transition: 0.3s;
    transition: 0.5s;
    filter: grayscale(60%) brightness(0.7);
    // opacity: 0.8;
  }
  //   image move
  & .swiper-slide-thumb-active .thumb-media img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  & .thumb-category {
    font-size: 1rem;
    @include mq(xl) {
      font-size: 1rem;
    }
  }
  & .thumb-title {
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    margin-bottom: 0.4em;
    @include mq(lg) {
      font-size: 1.2rem;
    }
    @include mq(md) {
      font-size: 1rem;
    }
  }
  & .thumb-date {
    font-size: 1rem;
    @include mq(lg) {
      font-size: 0.9rem;
    }
    @include mq(lg) {
      font-size: 0.8rem;
    }
  }
}

.footer {
  font-size: (12rem/16);
  position: relative;
  width: (1080/1280) * 100%;
  max-width: 1080px;
  padding: (30em /16) 0 (10em/16) 0;
  margin: 0 auto 0;
  text-align: right;
}
.accessible {
  border: 0;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 1em;
  left: 0%;
  background-color: #fff;
  padding-left: 4%;
  border-radius: 0 25px 25px 0;
  transform: translateX(-20%);
  transition: 0.3s;
  &:hover {
    transform: translateX(-2%);
    & .human {
      opacity: 0.8;
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0;
    height: 100vh;
    width: 350px;
    background-color: #fff;
    z-index: 999999;
    color: #333;
    transform: translateX(-100%);
    transition: 0.4s;
    &.active {
      transform: translateX(0%);
    }
  }
  &__wrap {
    padding: 0 3vh;
    overflow-y: scroll;
    height: 90vh;
  }
  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 3vh 0 3vh;
    background-color: rgb(190, 188, 188);
    border-bottom: #333 1px solid;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
  }
  &__back {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    & .backLine:nth-child(1) {
      position: absolute;
      transform: rotate(45deg);
      top: 50%;
      width: 40px;
      height: 2px;
      background-color: #333;
    }
    & .backLine:nth-child(2) {
      position: absolute;
      transform: rotate(135deg);
      top: 50%;
      width: 40px;
      height: 2px;
      background-color: #333;
    }
  }
  &__btn {
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  }
  &__up {
    font-size: 16px;
  }
  &__list {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  &__card {
    user-select: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    &:nth-child(3),
    :nth-child(4),
    :nth-child(6) {
      cursor: auto;
    }
  }
  &__imgbox {
    overflow: hidden;
    height: 65px;
    margin-bottom: 10px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-inline: auto;
    }
  }
  &__title {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 10px;
  }
  &__spans {
    opacity: 0;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    & span {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: lightgray;
    }
  }
  &__src {
    font-size: 10px;
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
  }
  &__iconSrc {
    display: inline;
    color: #333;
  }
}
#topMask {
  display: none;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid green;
}
#bottomMask {
  display: none;
  position: fixed;
  z-index: 999999999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 3px solid green;
}

.black {
  background-color: black !important;
}

// ==================
// =====checkbox=====
// ==================

/* === ボタンを表示するエリア ============================== */
.switchArea {
  line-height: 25px; /* 1行の高さ          */
  letter-spacing: 0; /* 文字間             */
  text-align: center; /* 文字位置は中央     */
  font-size: 18px; /* 文字サイズ         */
  position: relative; /* 親要素が基点       */
  margin: 0 0 0 auto; /* 中央寄せ           */
  width: 80px; /* ボタンの横幅       */
  background: #fff; /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display: none; /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display: block; /* ボックス要素に変更 */
  box-sizing: border-box; /* 枠線を含んだサイズ */
  height: 30px; /* ボタンの高さ       */
  border: 2px solid #006666; /* 未選択タブのの枠線 */
  background: linear-gradient(
    90deg,
    #fff,
    #fff,
    #006666
  ); /* 背景色グラデーション */
  border-radius: 30px; /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked + label {
  border-color: #993333; /* 選択タブの枠線     */
  background: linear-gradient(
    90deg,
    #993333,
    #fff,
    #fff
  ); /* 背景色グラデーション */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after {
  content: "OFF"; /* 表示する文字       */
  padding: 0 0 0 30px; /* 表示する位置       */
  color: #333; /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea input[type="checkbox"]:checked + label span:after {
  content: "ON"; /* 表示する文字       */
  padding: 0 30px 0 0; /* 表示する位置       */
  color: #333; /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position: absolute; /* 親要素からの相対位置*/
  width: 25px; /* 丸の横幅           */
  height: 25px; /* 丸の高さ           */
  background: #000000; /* カーソルタブの背景 */
  top: 2.5px; /* 親要素からの位置   */
  left: 3px; /* 親要素からの位置   */
  border-radius: 26px; /* 角丸               */
  transition: 0.2s; /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform: translateX(48px); /* 丸も右へ移動       */
  background: #993333; /* カーソルタブの背景 */
}
.human {
  font-size: 2rem;
  padding: 0.2em 0.3em;
  color: #14111f;
}
// pickr

.pickr {
  height: 15px;
  display: flex;
}
.pickr .pcr-button {
  border: 1px solid #333;
  width: 100%;
  height: 15px;
  padding: 0;
  border-radius: 50px;
  &::after {
    border-radius: 50px;
  }
  &::before {
    border-radius: 50px;
  }
}
.pcr-app[data-theme="nano"]
  .pcr-selection
  .pcr-color-preview
  .pcr-current-color,
.pcr-app .pcr-swatches > button {
  border: 1px solid #333;
}
.pcr-app {
  z-index: 9999999;
}

.pcr-app .pcr-interaction {
  justify-content: end;
}
//
//       ■
//        ■                             ■                ■   ■ ■
//        ■                  ■      ■  ■ ■                ■
//  ■■■   ■■■■    ■■■  ■    ■■■■   ■■■ ■■              ■
//     ■  ■   ■  ■  ■■ ■  ■■ ■    ■   ■     ■■■■■■■■    ■     ■
//    ■■  ■   ■  ■   ■ ■  ■■ ■   ■■   ■■                     ■■
//  ■  ■  ■   ■  ■   ■ ■  ■■ ■   ■     ■■                   ■■
//  ■  ■  ■   ■  ■  ■■ ■  ■■ ■          ■■                ■■
//  ■■■■  ■■■■   ■■■■  ■■■■■ ■■■                        ■■■
//
//

.body__about {
  height: auto;
}
.aboutMain__wrap {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 0;
}

.profile {
  margin-top: (100em/16);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  @include mq(md) {
    margin-top: 70px;
  }

  &__title {
    position: relative;
    width: 100%;
    font-size: (36rem/16);
    margin-bottom: (50em/16);
    padding-left: 25px;
    @include mq(lg) {
      font-size: (30rem/16);
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 15px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #da4404;
    }
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include mq(md) {
      flex-direction: column;
      row-gap: 40px;
    }
  }
  &__imgbox {
    padding-left: 5%;
    width: 45%;
    aspect-ratio: 16/14;
    overflow: hidden;
    @include mq(lg) {
      width: 50%;
    }
    @include mq(md) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__contents {
    width: 50%;
    font-size: (22rem/16);
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 25px;
    @include mq(lg) {
      font-size: (18em/16);
    }
    @include mq(md) {
      font-size: (16em/16);
      width: 100%;
      margin-left: 5%;
    }
  }
  & dl {
    // line-height: 1.6em;
    display: flex;
    column-gap: 7px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    & dt {
      width: auto;
      word-break: keep-all;
      white-space: nowrap;
    }
    & dd {
      text-wrap: balance;
      word-break: auto-pharase;
    }
  }
}

.career {
  &__title {
    position: relative;
    margin-top: 100px;
    font-size: (30em/16);
    padding-left: 25px;
    margin-bottom: (50em/16);
    @include mq(md) {
      font-size: (24rem/16);
    }
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #da4404;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  & dl {
    font-size: (22rem/16);
    position: relative;
    padding-left: 5%;
    padding-bottom: 60px;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 50px;
    @include mq(xl) {
      font-size: (20rem/16);
    }
    @include mq(lg) {
      font-size: (18rem/16);
    }
    @include mq(md) {
      font-size: (16rem/16);
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 25px;
      background-color: #d9d9d9;
      left: -10px;
      top: 2.5px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      top: 10px;
      left: -1px;
      background-color: #d9d9d9;
      transform: scale(1, var(--scale-y));
      transform-origin: top left;
      transition: 0.3s;
    }
  }
  & dt {
    font-weight: bold;
    word-break: keep-all;
  }
  & dd::after {
    position: absolute;
    bottom: 30px;
    right: 0%;
    content: "";
    width: 95%;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    @include mq(md) {
      font-size: (16rem/16);
    }
  }
}

.technology {
  margin-top: 100px;
  & .tool {
    &__title {
      position: relative;
      font-size: (30rem/16);
      margin-bottom: 40px;
      padding-left: 25px;
      @include mq(md) {
        font-size: (24rem/16);
      }
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #da4404;
      }
    }
  }
  & ul {
    font-size: (22rem/16);
    display: flex;
    align-items: center;
    column-gap: 3%;
    row-gap: 20px;
    flex-wrap: wrap;
    @include mq(xl) {
      font-size: (20rem/16);
    }
    @include mq(md) {
      font-size: (16rem/16);
    }
  }
  & .lang {
    margin-top: 70px;
    &__title {
      position: relative;
      padding-left: 25px;
      font-size: (30rem/16);
      margin-bottom: 40px;
      @include mq(md) {
        font-size: (24rem/16);
      }
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #da4404;
      }
      @include mq(md) {
        font-size: (24rem/16);
      }
    }
  }
}

.target {
  &__title {
    font-size: (30rem/16);
    position: relative;
    margin-top: 100px;
    padding-left: 25px;
    margin-bottom: (30em/16);
    @include mq(md) {
      font-size: (24rem/16);
    }
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #da4404;
    }
  }
  &__content {
    text-align: left;
    text-wrap: balance;
    word-break: auto-pharase;
    font-size: (20rem/16);
    font-weight: 300;
    // line-height: 1.8em;

    @include mq(md) {
      font-size: (16rem/16);
    }
  }
}
.hobby {
  margin-top: 100px;
  margin-bottom: 80px;
  &__title {
    font-size: (30rem/16);
    position: relative;
    margin-top: 100px;
    padding-left: 25px;
    margin-bottom: (30em/16);
    @include mq(md) {
      font-size: (24rem/16);
    }
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #da4404;
    }
  }
  &__content {
    font-size: (20rem/16);
    // line-height: 1.8em;
    font-weight: 300;

    @include mq(md) {
      font-size: (16rem/16);
    }
  }
}
.story {
  &__front {
    margin: 10px 0;
  }
  margin-top: 100px;
  &__title {
    font-size: (30rem/16);
    position: relative;
    padding-left: 25px;
    margin-bottom: (30em/16);
    @include mq(md) {
      font-size: (24rem/16);
    }
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #da4404;
    }
  }
  &__content {
    text-align: left;
    text-wrap: balance;
    word-break: auto-pharase;
    font-size: (20rem/16);
    font-weight: 300;
    // line-height: 1.8em;
    @include mq(md) {
      font-size: (16rem/16);
    }
  }
}
